<% @news.each do |n| %> 
  <%= n.title %> <br> 
  <%= n.text %>
<% end %>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('images.jpg') %>
      <div class="carousel-caption">
        Супер картинка
      </div>
    </div>
    <div class="item">
      <%= image_tag('1.jpeg') %>
      <div class="carousel-caption">
        Супер картинка
      </div>
    </div>
    <div class="item">
      <%= image_tag('images.jpg') %>
      <div class="carousel-caption">
        Супер картинка
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>